* {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}
body {
  background: black;
}
.links {
  float: right;
  align-items: self-start;
  margin-top: 0;
}
.buttons {
  background-color: transparent;
  border: none;
  position: relative;
}
a {
  background-color: transparent;
  border: none;
  color: rgb(145, 145, 145);
  font-size: medium;
  margin-right: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: bold;
}
a:hover {
  background-color: transparent;
  color: white;
  text-decoration: underline rgb(39, 44, 151);
}
.content {
  margin-top: 20px;
  flex: 1;
  color: white;
  margin-left: 20px;
  padding: 20px;
}
h1 {
  margin-top: 17px;
}
.prods {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-left: 15px;
  margin-right: 15px;
}
.img {
  height: 225px;
  width: 390px;
}
.img:hover {
  opacity: 0.5;
  transition: 0.3s;
}
.more {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-left: 15px;
  margin-right: 15px;
}
